:root {
  --luna-font-size-base: 13px;

  --luna-color-font-accent: #131842;
  --luna-color-font-primary: #50575e;
  --luna-color-font-secondary: #e68369;
  --luna-color-surface-light: #fbf6e2;
  --luna-color-surface-dark: #ecceae;
  --luna-color-chessboard: #f0f0f0;

  --luna-color-border: #ecceae;

  --luna-padding-1: 0.25rem;

  --luna-spacing-xs: 0.25rem;
  --luna-spacing-sm: 0.5rem;
  --luna-spacing-md: 1rem;
  --luna-spacing-lg: 2rem;
  --luna-spacing-xl: 4rem;
}
